*

!*/
!.gitignore
!README.md
!.bib
!*/*.tex
!*/*.pdf
!*/*.png
!*/*.jpg
!*/*.svg
!*/*.bib
!*/*.sh
!*/*/*.png
!*/*/*.jpg
!*/*/*.svg
!*/*/*.tex
!*/*/*.pdf
!*/*/*.bib
!*/*/*.sh
!*/*/*/*.png
!*/*/*/*.jpg
!*/*/*/*.svg
!*/*/*/*.tex
!*/*/*/*.pdf
!*/*/*/*.bib
!*/*/*/*.sh
!POC1/videoFinal.txt
